<a href="https://colab.research.google.com/github/TeeMajesty12/TTP-Summer-23/blob/main/IntroToPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Python Basics

# Strings # the "print()"

In [3]:
print("Hello World")

Hello World

In [4]:
print("\n\t This Is The Tab Line\nThis Is A Regular Line")

	 This Is The Tab Line
This Is A Regular Line

In [1]:
print("first name " + 'last name')

first name last name

Variables

# Variable

In [ ]:
dogs = 3
cats = "Many Of These Cats"

## More Strings

In [6]:
greeting = "Hello World!" ;

In [12]:
print(greeting[3])
print(greeting[6])
print(greeting[2])

## This Prints Out The Individual Letter Of The Greeting

l
W
l

In [13]:
greeting[-1]

## Using "-1" Will Automatically Print The Last Letter (Or Character) Of The Greeting.
## "-1" Basically Just Means To Start From The End

'!'

## String Formatting

In [ ]:
price = 59.99

In [ ]:
price
message = "The Product Costs " + str(price) + "Dollars"
print(message)
## I added "str()" to the price because float and srtings can't compile together

## The .format() method!!

In [17]:
price = 59.99
msg = "The product cost {} dollars " .format(price)
print(msg)

The product cost 59.99 dollars

In [19]:
amount = 3
total = amount * price

msg2 = "For {} Products at the price of {}, the total will be: {}"

print(msg2.format(amount, price, total))

For 3 Products at the price of 59.99, the total will be: 179.97

In [22]:
msg3 = "For {2} products at the price of {0}, the total is {1}"

print(msg3.format(amount, price, total))

For 179.97 products at the price of 3, the total is 59.99

## The f-string method!!!

In [ ]:
price = 19.99
items = 3

In [23]:
msg = f"This indivu=idual product is {price}"